# frozen_string_literal: true

<% gaskit_type = case options["type"] %>
<% when "service" then "Gaskit::Service" %>
<% when "query" then "Gaskit::Query" %>
<% else "Gaskit::Operation" %>
<% end %>

class <%= class_name %> < <%= gaskit_type %>
  # This is a generated Gaskit operation. Add your logic below.

  def call(*args, **kwargs)
    # Your operation logic goes here.
    "ok"
  end
end
